.customagile-button { 
  left: auto !important;
  margin-top: 0;
  border-color: #d6d6d6 !important;
}

.customagile-button.help { 
  right: 10px !important;
}

.icon-help {
  font-size: 16px;
  text-align: center;
  color: #327c98 !important;
}

.icon-help {
  font-size: 18px;
}

.icon-help:hover {
  color: #21516d !important;
}

.customagile-button.help:hover {
  color: #21516d !important;
}

.customagile-button.help .x-btn-button {
  font-size: 20px !important;
  height: 20px !important;
  width: 20px !important;
}

.apply-filters-button {
  background-color: #75c63f;
}